@use "tailwindcss";

// Fuentes
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

// Colores principales app
$mainColor: #f9ae00;
$secondaryColor: #147881;

$mainColorOpacity: #f9ae003f;
$secondaryColorOpacity: #1478813f;

$blueDarkColor: #3a4868;
$whiteColor: white;
$blackColor: black;
$lightGray: #77777721;

// Colores textos
$pagraphColor: #777777;
$pagraphColorLight: #cccccc;

// Estilos por defecto
:root,
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", system-ui;
}

::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}